.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    column-gap: 24px;

    a {
      color: black;
      cursor: pointer;
      text-decoration: none;

      &.active {
        font-weight: bolder;
      }
    }
  }
  &__content {
    flex: 1;
  }
}
